.ass-wrapper > li{
display: inline-block;
padding:  0 20px;
}
header{
display: flex;
justify-content: right;
}
.ass-wrapper > li:nth-child(2){
color: #ff6464;
}
ul{
cursor: pointer;
list-style-type: none;
display: block;
}
 ul{
cursor: pointer;
list-style-type: none;
display: block;
}
body{
    width: 60%;
    margin: 0 auto;
}
main{
    background-color: darkgray;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}
.design{
    display: flex;
    margin: 20px;
     
}
.spd{
   
    margin-left: 20px ;
    
}

.vib{
    display: flex;
    margin: 20px;
}
.spv{
   
    margin-left: 20px ;
}
.Days{  
    display: flex;
    margin: 20px;
}
.spd2{
    
    margin-left: 20px ;
}
.comp{
    display: flex;
    margin: 20px;
}
.spc{
   
    margin-left: 20px ;
}
.footer-wrapper{
display: flex;
flex-direction: column;
align-items: center;


}
.pic{
display: flex;
width: 50%;
justify-content: space-evenly;
}
.copy{
width: 50%;
justify-content: center;
display: flex;
padding-right: 5px;
}
