p{
    color: #21243d;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.ul-wrapper > li{
    display: inline-block;
    padding:  0 20px;
}
header{
    display: flex;
    justify-content: right;
}
/*.ul-wrapper > li:nth-child(2){
    color: #0000;  
}*/
.ul-wrapper > li:nth-child(1){
color: #ff6464;
}
/*.ul-wrapper > li:nth-child(3){
    color: #0000;  
}*/
ul{
   /* border: 2px solid red;*/
    cursor: pointer;
    list-style-type: none;
    display: block;
}
.section-wrapper{
   /* border: 2px solid red; */
    color: black;
    
    
}
body{
    width: 60%;
    margin: 0 auto;
    /* background-color: cornflowerblue; */
}
#title{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    

}
div{
   /* border: 2px solid purple ;*/
    margin: 20px;
}
h2{
    font-size: 30px;
}
span{
    font-size:20px;
  
    /*display: flex;
    justify-content: space-between;*/
    
    }
#sp1{
    border-right: 1px solid black; 
    padding-right: 5px;
}
#sp2{
    
    padding-left: 10px;
}
#title > h1{
    text-align: left;
    font-size: 30px;
   /* text-shadow: 5px 15px 10px black;*/
}
.footer-wrapper{
   text-align: center; 
   width: 100%;
   padding: 50px; 
   gap: 2px;
  
}
#pic{
   display: flex;
   flex-direction: row;
   /* border:  2px solid red ; */
   justify-content: center;
   justify-content: space-evenly;
}
#copy{
    margin-top:20px ;
    justify-content:center;
    display: flex;
    /* border:  2px dashed blue; */
}
.footer-wrapper{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
